- model_class = Cart
.page-header
	%h1 Корзина

/%table.table.table-striped.table-responsive
.row
	-@cart.cart_items.all.each do |item|
		= form_for item do |f|
			.row
				.col-md-2
					=link_to product_path(item.product.id) do
						=image_tag item.product.images.first.image.url(:thumb)
				.col-md-2
					=link_to item.product.name, product_path(item.product.id)
				.col-md-2
					%small
						= number_to_currency(item.product.price, unit:"руб.", :delimiter => " ", :format => "%n %u", :precision => 0)
				.col-md-2
					.input-group.input-group-sm
						=f.text_field :quantity, class:'form-control'
						%span.input-group-addon
							=link_to item do
								%span.glyphicon.glyphicon-refresh

				.col-md-2
					%small
						= number_to_currency(item.product.price*item.quantity, unit:"руб.", :delimiter => " ", :format => "%n %u", :precision => 0)
				.col-md-1
					=button_to item, :method => :delete, class:'btn btn-danger btn-xs' do
						%span.glyphicon.glyphicon-trash
						Удалить

%hr
=link_to 'Оформить заказ', "#", class:'btn btn-primary', 'data-toggle'=>"modal", 'data-target'=>"#order-info"
=link_to 'Продолжить покупки', "", class:'btn btn-primary'

#order-info.modal
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ "data-dismiss"=>"modal", "aria-hidden"=>"true"}
					&times;
				%h4.modal-title Оформление заказа
			.modal-body
				%form.form-horizontal
					.row
						.col-md-5.col-md-offset-1
							.form-group
								%label.control-label Фамилия, имя
								%input.form-control.input-block-level{type:'text', name:'name'}
							.form-group
								%label.control-label E-Mail
								%input.form-control.input-block-level{type:'text', name:'email'}
							.form-group
								%label.control-label Телефон
								%input#phone.form-control.input-block-level{type:'text', name:'phone'}
						.col-md-5.col-md-offset-1
							.form-group
								%label.control-label Индекс
								%input.form-control.input-block-level{type:'text', name:'zip'}
							.form-group
								%label.control-label Город
								%input#city.form-control.input-block-level{type:'text', name:'city'}
							.form-group
								%label.control-label Адрес
								%input.form-control.input-block-level{type:'text', name:'address'}
					.row
						.col-md-12
							.form-group
								%label.control-label Комментарий
								%textarea.form-control.input-block-level{width:'100%', name:'comment'}
			.modal-footer
				%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
					Отменить
				%button.btn.btn-primary
					Оформить заказ


